html {
    font-size: 100%;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: "Lexend Deca", sans-serif;
    font-family: "Open Sans", sans-serif;
}

body {
    background-color: white;
    color: black;
    font-family: sans-serif;
    font-size: 18px;
}

.tituloPrincipal {
    color: rgb(97, 97, 97);
    font-size: 35px;
    text-align: center;
    margin: 20px;
}

.textoMain {
    font-size: 20px;
    text-align: center;
}

h2 {
    color: black;
    font-family: sans-serif;
    font-size: 200%;
    font-style: italic;
    text-align: center;
    text-orientation: initial;
    margin-top: 0cm;
}

.contenedorMain {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mi-div {
    font-family: sans-serif;
    font-style: italic;
    font-size: 18px;
    text-align: left;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.container {
    background-color: none;
}

.container.textos {
    text-align: justify;
    padding: 20px;
}

.iframe {
    margin-left: 3rem;
}

.form-register {
    padding: 30;
    width: 300px;
    margin: auto;
    margin-top: 100px;
    color: black;
    font-family: sans-serif;
    background-color: lightgrey;
    border-radius: 4px;
}

.form-register .controls {
    width: 100%;
    padding: 10px;
    color: black;
    background-color: none;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid white;
    font-family: sans-serif;
    font-size: 18px;
    box-sizing: border-box;
}

.form-register .bottons {
    color: black;
    margin-left: 20px;
    box-sizing: border-box;
    border-radius: 20px;
}

.navbar {
    font-size: 20px;
    margin-top: 0;
}

.navbar-transparent {
    background-color: transparent !important;
    /* Fondo transparente */
    width: 100%;
    position: absolute;
}

/* Estilos para la barra de navegación opaca */
.navbar-scrolled {
    background-color: rgba(255, 255, 255, 0.9) !important;
    position: fixed;
    width: 100%;
    transition: background-color 1.5s;
}

.navbar-brand {
    font-size: 25px;
    font-weight: bold;
    color: #1d8484;
    transition: ease-in-out 0.5s;
}

.navbar-brand:hover {
    transform: scale(1.1);
    color: #1d8484;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.navLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.nav-link {
    color: black;
    margin-right: 15px;
    position: relative
}

.nav-link::before {
    content: "";
    position: absolute;
    bottom: -2px;
    /* Ajusta la posición del subrayado */
    left: 0;
    /* Inicialmente, empieza desde la izquierda */
    width: 0;
    /* Comienza sin ancho */
    height: 2px;
    /* Grosor del subrayado */
    background-color: #1d8484;
    /* Color del subrayado (negro, en este caso) */
    transition: width 0.5s;
}


.nav-link:hover::before {
    width: 100%;
    /* Al pasar el cursor, aumenta el ancho al 100%, de izquierda a derecha */
}


.navbar-toggler {
    border-color: none;
}

.carousel {
    width: 100%;
}

.row>* {
    padding-right: 0px;
    padding-left: 0px;
}


.imgInsert {
    width: 100%;
    height: 100%;
    height: 100vh;
    position: relative;
    opacity: 0.7;
}



.about-us-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    text-align: center;
    min-height: 75vh;
}

.about-us-text-container {
    width: 60%;
}

.about-us-img-container {
    width: 40%;
}

.pages {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.space {
    margin: 15px;
}

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 80vh;
}

.main-container {
    min-height: 75vh;
}

footer {
    color: black;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 150%;
    font-style: initial;
    text-align: center;
    background-color: white;
    width: 100%;
    height: 10rem;
    padding: 0%;
}

.fa-brands {
    color: rgb(126, 186, 166);
}

/*# sourceMappingURL=estilos.css.map */


/*HOVER TITULO*/

.fade-in-top {
    animation: fade-in-top 1.5s ease-in-out both;
}

@keyframes fade-in-top {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}